.container {

  display: flex;

  justify-content: center;

  background-color: #D1E8E4;






}
img{
  margin-top: 50px;
}
.person {

  margin: 10px;

}


.btn {

  display: flex;

 justify-content: space-evenly;

}



button {

  background-color: #C37B89;

  color: #fff;

  padding: 10px;

  border: none;

  text-transform: uppercase;

  margin: 50px;
}